In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

C:\Users\gaura\AppData\Local\Temp\ipykernel_6436\3957787740.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = yf.download("AAPL", start="2023-01-01", end="2023-02-01")

c:\Users\gaura\Desktop\Invsto\invsto\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [3]:
# Printing the first 5 entries of the dataset
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.216293,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166649,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735245,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800

In [4]:
# Check for missing values
missing_values = data.isnull().sum()

# Handle missing values (e.g., remove rows with missing values)
data.dropna(inplace=True)

In [5]:
# Outlier removal
from scipy import stats

z_scores = stats.zscore(data)
threshold = 3
data = data[(z_scores < threshold).all(axis=1)]

In [6]:
# Check data types of each column
data_types = data.dtypes

# Filter out rows containing string values in any column
data = data[(data.applymap(lambda x: type(x) != str)).all(axis=1)]

C:\Users\gaura\AppData\Local\Temp\ipykernel_6436\457568785.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data[(data.applymap(lambda x: type(x) != str)).all(axis=1)]

In [7]:
# Converting to pandas dataframe
df = pd.DataFrame(data)

In [8]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166649,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735245,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800
2023-01-10,130.259995,131.259995,128.119995,130.729996,129.837677,63896200

In [9]:
import pandas as pd
import numpy as np

# Assuming 'df' is your DataFrame containing OHLC data with a datetime index

# User input for the number of days for moving averages calculation
num_days = int(input("Enter the number of days for moving averages calculation: "))

# Calculate Simple Moving Average (SMA)
df['SMA'] = df['Close'].rolling(window=num_days, min_periods=1).mean()

# Calculate Exponential Moving Average (EMA)
df['EMA'] = df['Close'].ewm(span=num_days, adjust=False).mean()

# Calculate Weighted Moving Average (WMA)
weights = np.arange(1, num_days + 1)

def wma_func(prices, weights):
    prices = np.asarray(prices)
    weights = np.asarray(weights)[:len(prices)]
    return np.dot(prices, weights) / weights.sum()

df['WMA'] = df['Close'].rolling(window=num_days, min_periods=1).apply(wma_func, args=(weights,), raw=True)

# Display the DataFrame with the calculated indicators
df.head()

,Open,High,Low,Close,Adj Close,Volume,SMA,EMA,RSI,WMA
Date,,,,,,,,,,
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.497498,89113600,126.360001,126.360001,NaN,126.360001
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.166649,80962700,125.689999,126.354651,0.000000,125.466665
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.735245,87754700,126.999997,126.367687,77.441020,127.543330
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.261627,70790800,127.787497,126.382786,79.288969,128.585995
2023-01-10,130.259995,131.259995,128.119995,130.729996,129.837677,63896200,128.375996,126.400140,80.992860,129.300662